<body>
  <button id="logoutBtn" (click)="logout()">Cerrar sesión</button>
  <div id="formulario">
    <form [formGroup]="formProducto" class="example-form" (ngSubmit)="productoNuevo()">
      <mat-card id="titulo">
        <mat-card-content>Cargar nueva reserva</mat-card-content>
      </mat-card>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Codigo</mat-label>
        <input type="text" matInput formControlName="codigo">
        <br>
        <mat-error *ngIf="validar.hasError('required')">
          Campo incompleto
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Barrio</mat-label>
        <input type="text" matInput formControlName="barrio">
        <br>
        <mat-error *ngIf="validar.hasError('required')">
          Campo incompleto
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Precio</mat-label>
        <input type="number" matInput formControlName="precio" min="0">
        <br>
        <mat-error *ngIf="validar.hasError('required')">
          Campo incompleto
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Imagen</mat-label>
        <input type="text" matInput formControlName="imagen">
        <br>
        <mat-error *ngIf="validar.hasError('required')">
          Campo incompleto
        </mat-error>
      </mat-form-field>
      <br>
      <button class="btn btn-danger" id="botonCrear" (click)="productoNuevo()" [disabled]="!formProducto.valid"formProducto mat-raised-button>Aceptar </button> 
      &nbsp;
      &nbsp;
      <button type="button" class="btn btn-danger" id="botonCancelar" (click)="changeCreate()" mat-raised-button>Cancelar</button>
    </form>
  </div>
  
</body>