#formulario{
    display: flex;
    justify-content: center;
    padding:10%;
}

#titulo{
    font-size: 120%;
    background-color:#3DB0E4;
    border-radius: 50px;
    border-style: solid;
    text-align: center;
}