<body>
  <div id="formulario">
    <form [formGroup]="formReserva" class="example-form" (ngSubmit)="reservaNuevo() ">
      <mat-form-field class="example-full-width">
        <mat-label>Cliente</mat-label>
        <input type="text" matInput formControlName="cliente">
        <br>
        <mat-error *ngIf="validar.hasError('required')">
          Campo incompleto
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Id Vendedor</mat-label>
        <input type="text" matInput formControlName="idVendedor">
        <br>
        <mat-error *ngIf="validar.hasError('required')">
          Campo incompleto
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Productos</mat-label>
        <mat-select matInput formControlName="producto">
          <mat-option *ngFor="let producto of productos; index as i" [value]="producto" >{{producto.codigo}}</mat-option>
        </mat-select>
        <mat-error *ngIf="validar.hasError('required')">
          Campo incompleto
        </mat-error>
      </mat-form-field>
      <br>
      <button id="botonCrear" (click)="cambiarReserva()" mat-raised-button [disabled]="!formReserva.valid">Aceptar </button> 
      &nbsp;
      &nbsp;
      <button type="button"  id="botonCancelar" (click)="changeCreate()" mat-raised-button>Cancelar</button>
    </form>
  </div>
</body>