<button id="logoutBtn" (click)="logout()">Cerrar sesión</button>
<div [ngSwitch]="role">
    <div *ngSwitchCase="roles[2]">
        <app-comercial ></app-comercial>
    </div>
    <div  *ngSwitchCase="roles[1]">  
        <app-vendedor></app-vendedor> 
    </div>
    <div id="vendedor">
        <mat-tab-group id="comercialYvendedor">
            <mat-tab label="Comercial" > <app-comercial ></app-comercial> </mat-tab>
            <mat-tab label="Vendedor" > <app-vendedor></app-vendedor> </mat-tab>
        </mat-tab-group>
    </div>
</div>