#botonDelete{
    margin-left: 10%;
}

#botonCancelar{
    margin-left: 10%;
    padding: 5%;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 5%;
    width: 100vW;
    
}

#boton{
    justify-content: center;
    display: flex;
}

#contenedorListaYBoton{
    margin-top: 5%;
}