.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 2%;
}
#filtro{
    justify-content: center;
    display: flex;
    margin-top: 5%;
}
#boton{
    justify-content: center;
    display: flex;
    padding-bottom: 2%;
}