<br>
<br>
<table class="table table-striped table-hover">
  <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Cliente</th>
        <th scope="col">Producto</th>
        <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>
<!--  <tr *ngFor="let shipper of shipperslist; let i = index">-->
    <th scope="row">a</th>
        <td>a</td>
        <td>a</td>
        <td>a</td>
   <!-- </tr>-->
        <button type="button" class="btn btn-danger" id="botoneliminar">Aprobar</button>
        <button type="button" class="btn btn-danger" id="botoneliminar">Rechazar</button>
        <button type="button" class="btn btn-danger" id="botoneliminar">Eliminar</button>
  </tbody>
</table>
<br>
<br>