#botonDelete{
    margin-left: 10%;
}

#botonCancelar{
    margin-left: 10%;
    padding: 5%;
}

#botonCrear{
    padding: 5%;
}

#botonCrearNuevo{
    margin-left: 5%;
}

#card{
    border-color: green ;
    border: solid;
    margin-right: 65%;
    padding-top: -10%;
}
